body {
    background-color: #dbf6e9 ;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #1e6f5c;
  }
  p {
    word-spacing: 3px;
    color: #343b38;
  }

.paragraph {
    position:relative;
    margin-left: 22%;
    width: 55%;
    padding: 10px;
    background-color: #8ac4d0;
    margin-top: 30px;
    margin-bottom: 30px;
}
hr {
    border: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 4%;
  }
  a:visited {
    color: #1e6f5c;
  }
  
  a {
      text-decoration: none;
  }
  a:hover {
      color: whitesmoke;
      transform: 2s;
  }
  
  .info {
      margin-top: 30px;
      border: none;
      background-color: #e2d5d5;
      margin-left: 12px;
      padding: 20px 5px;
      border-radius: 60%;
  }
  .learn {
      border: none;
      background-color: #8ac4d0;
      padding: 14px 8px;
      border-radius: 60%;
  }
  .test {
    border: none;
    background-color: #fbeeac;
    padding: 20px 5px;
    border-radius: 60%;
  }

  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .paragraph {
        width: 80%;
        margin-left: 8%;
        background-color: #29bb88be;
    }
}
